{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Cuppa Click, where passion meets palate.</p>
            <p>From refreshing beverages to decadent desserts, artisanal pastries to hearty spaghetti, every dish is crafted with care and quality ingredients.</p>
            <p>Join us for a culinary journey that promises to delight your senses and keep you coming back for more. Your table awaits at Cuppa Click.</p>
        </div>
    </div>
</div>
{% endblock content %}