{% extends 'customer/base.html' %}
{% load static %}
{% block content %}

<div class="stepper-wrapper">
    <div class="stepper-item completed">
      <div class="step-counter">1</div>
      <div class="step-name">Add to Cart</div>
    </div>
    <div class="stepper-item active">
      <div class="step-counter">2</div>
      <div class="step-name">Checkout</div>
    </div>
    <div class="stepper-item">
      <div class="step-counter">3</div>
      <div class="step-name">Place Order</div>
    </div>
  </div>

  <style>
    .stepper-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    }
    .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    }
    .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
    }
    .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
    }
    .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    }
    .stepper-item.active .step-counter{
    font-weight: bold;
    background-color: khaki;
    }
    .stepper-item.completed .step-counter {
    background-color: khaki;
    }
    .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid khaki;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
    }
    .stepper-item:first-child::before {
    content: none;
    }
    .stepper-item:last-child::after {
    content: none;
    }
  </style>


<div class="container my-5">
    <div class="row">
        {% if cart %}
        <div class="col-sm-12 mb-4">
            <h1 class="text-center mb-0">Order Cart</h1>
            <a href="{% url 'all_products' %}" class="btn btn-warning shadow px-3 py-1 ms-2 mt-1">Back to Menu</a>
        </div>

        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3>Cart</h3>
                    {% for item in cart %}
                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.image.url}}" alt="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
                        <div class="col-sm-9">
                            <div>
                                <h5>{{item.product.title}}</h5>
                                <!-- <p class="mb-2 text-muted small">{{item.product.description}}</p> -->
                                <div class="my-3">
                                    <label for="quantity">Quantity: </label>
                                    <i class="minus-cart" pid={{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></i>
                                    <span id="quantity">{{item.quantity}}</span>
                                    <i class="plus-cart" pid={{item.product.id}}><i class="fas fa-plus-square fa-lg" ></i></i>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid="{{item.product.id}}">Remove item</a>
                                    <p class="mb-0">
                                        <span id="total-price-{{ item.product.id }}" data-price-per-unit="{{ item.product.price }}">
                                            RM {% widthratio item.quantity 1 item.product.price %}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <hr class="text-muted">
                    {% endfor %}
                    
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3>Total Amount</h3>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Amount <span id="amount">RM {{amount}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            <div>
                                <strong>Total</strong> 
                            </div>
                                
                            <span id="totalamount"><strong>RM {{totalamount}}</strong></span>
                            
                        </li>
                    </ul>
               
                    <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a></div>
                </div>
            </div>
        </div>
        {% else %}
            <h1 class="text-center">Looks like your</h1>
            <h1 class="text-center">cart is empty!</h1>
            <div class="button-container">
                <a href="{% url 'all_products' %}" class="btn btn-primary">View Menu</a>
            </div>
        {% endif %}
    </div>
</div>

<style>
    .button-container {
        text-align: center;
        margin-top: 20px;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px; /* Increase padding for larger button */
        font-size: 15px; /* Increase font size */
        color: #ffffff;
        background-color: #f0ad4e;
        border: none;
        border-radius: 5px; /* Slightly increase border-radius for larger button */
        text-decoration: none;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #ec971f;
    }

    .btn-warning {
    background-color: #d2b48c;
    color: #4a2c2a;
    border-color: #d2b48c;
    }

    .btn-warning:hover {
        background-color: #b1904f;
        border-color: #b1904f;
    }

    /* Center align the button with the title */
    .d-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-back-to-menu {
    font-size: 14px;
    margin-top: -10px; /* Adjust this value as needed */
}
</style>

<script>
    $(document).ready(function(){
        $('.plus-cart, .minus-cart').click(function(){
            var id = $(this).closest('.cart-item').data('id');
            var eml = $(this).siblings('#quantity');
            
            $.ajax({
                type: "GET",
                url: "/pluscart",
                data: {
                    prod_id: id
                },
                success: function(data){
                    eml.text(data.quantity);
                    updateTotalAmount(data.amount, data.totalamount);
                    updateCartItemPrice(id, data.quantity);
                },
                error: function(xhr, status, error){
                    console.error("Error in plus_cart:", status, error);
                }
            });
        });
    
        $('.remove-cart').click(function(){
            var id = $(this).closest('.cart-item').data('id');
            
            $.ajax({
                type: "GET",
                url: "/removecart",
                data: {
                    prod_id: id
                },
                success: function(data){
                    updateTotalAmount(data.amount, data.totalamount);
                    $('.cart-item[data-id="' + id + '"]').remove();
                },
                error: function(xhr, status, error){
                    console.error("Error in remove_cart:", status, error);
                }
            });
        });
    
        function updateTotalAmount(amount, totalamount) {
            $('#amount').text('RM ' + amount.toFixed(2));
            $('#totalamount').text('RM ' + totalamount.toFixed(2));
        }
    
        function updateCartItemPrice(id, quantity) {
            var pricePerUnit = parseFloat($('#total-price-' + id).data('price-per-unit'));
            $('#total-price-' + id).text('RM ' + (quantity * pricePerUnit).toFixed(2));
        }
    });
    </script>
{% endblock content %}