{% extends 'customer/base.html' %}
{% load static %}
{% block content %}

<div class="stepper-wrapper">
    <div class="stepper-item completed">
        <div class="step-counter">1</div>
        <div class="step-name">Add to Cart</div>
    </div>
    <div class="stepper-item completed">
        <div class="step-counter">2</div>
        <div class="step-name">Checkout</div>
    </div>
    <div class="stepper-item active">
        <div class="step-counter">3</div>
        <div class="step-name">Place Order</div>
    </div>
</div>

<style>
    .stepper-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .stepper-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .stepper-item::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: -50%;
        z-index: 2;
    }

    .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 2;
    }

    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
    }

    .stepper-item.active .step-counter {
        font-weight: bold;
        background-color: khaki;
    }

    .stepper-item.completed .step-counter {
        background-color: khaki;
    }

    .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid khaki;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 3;
    }

    .stepper-item:first-child::before {
        content: none;
    }

    .stepper-item:last-child::after {
        content: none;
    }

    .product-title {
        flex: 1; /* Make the title take available space */
        text-align: center; /* Center align the text */
    }

    .btn-warning {
    background-color: #d2b48c;
    color: #4a2c2a;
    border-color: #d2b48c;
    }

    .btn-warning:hover {
        background-color: #b1904f;
        border-color: #b1904f;
    }
</style>

<div class="container">
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endfor %}
    {% endif %}

    <div class="row mt-5">
        <div class="col-sm-6">
            <a href="{% url 'add-to-cart' %}" class="btn btn-warning shadow px-3 py-2 ms-2 mt-1"><i class="fa fa-arrow-left"></i>&nbsp;Back to Cart</a>
            <br>
            <br>
            <h4>Order Summary</h4>
            <hr>
            <form method="post" action="{% url 'order_placed' %}" id="order_form" onsubmit="return validateForm()">
                {% csrf_token %}
                {% for item in cart_items_with_total %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{ item.quantity }} x</span> &nbsp; &nbsp; &nbsp;
                            <span class="product-title text-center">{{ item.product.title }}</span>
                            <span class="product-price">RM {{ item.total_price|floatformat:2 }}</span>
                        </div>
                        
                        <br>
                        <div class="customizations">
                            {% for customization in item.customizations %}
                                <p>{{ customization.name }} (+RM {{ customization.additional_price|floatformat:2 }})</p>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="product_id_{{ forloop.counter }}" value="{{ item.product.id }}">
                    <input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ item.quantity }}">
                </div>
                {% endfor %}
        </div>
        
        <div class="col-sm-4 offset-sm-1">
            <div>
                <label for="method">How would you like to enjoy your meal? </label>
                <select id="method" name="method">
                    <option value="Takeaway">Choose your method</option>
                    <option value="Takeaway">Pick Up</option>
                    <option value="Dine In">Dine In</option>
                </select>
            </div>

            <div id="table_number_div" style="display: none;">
                <label for="table_number">Table Number:</label>
                <input type="text" id="table_number" name="table_number" class="form-control">
            </div>

            <div class="row mt-3">
                <div class="col-sm-6">
                    <h5>Total</h5>
                </div>
                <div class="col-sm-6 text-right">
                    <h5>RM {{ totalamount|floatformat:2 }}</h5>
                </div>
            </div>
            <button class="btn btn-success btn-block mt-3" type="submit">Place Order</button>
        </div>
    </div>
</div>

<script>
    document.getElementById("method").addEventListener("change", function () {
        var method = this.value;
        var tableNumberDiv = document.getElementById("table_number_div");
        if (method === "Dine In") {
            tableNumberDiv.style.display = "block";
        } else {
            tableNumberDiv.style.display = "none";
        }
    });

    function validateForm() {
        var method = document.getElementById("method").value;
        if (method !== "Pick Up" && method !== "Dine In") {
            alert("Please choose either 'Pick Up' or 'Dine In' method.");
            return false;
        }
        return true;
    }
</script>

{% endblock %}