{% extends 'customer/base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">Order History</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Order Date</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Order Again</th> 
            </tr>
        </thead>
        <tbody>
            {% for op in order_placed %}
            <tr>
                <td>{{ op.ordered_date|date:"Y-m-d" }}</td>
                <td>{{ op.product.title }}</td>
                <td>{{ op.quantity }}</td>
                <td>
                    <a href="{% url 'order_again' op.id %}" class="btn btn-primary">Order Again</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
