{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order Submitted!</h1>
            <p>Thank you for your order! Your food is being made and will be served soon!</p>
            {% if method == 'Dine In' %}
                <h4>Your Table Number: {{ table_number }}</h4>
            {% else %}
                <h4>Your Order ID is: {{ order_id }}</h4>
            {% endif %}
            <br>
            <h4>Total Points Earned: {{ total_points }}</h4>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 text-center">
            <h2>Items Ordered: </h2>
            <div class="ordered-items">
                {% if ordered_items %}
                    {% for item in ordered_items %}
                        <div class="ordered-item">
                            <span class="quantity">{{ item.quantity }} x</span>
                            <span class="product-title">{{ item.title }}</span>
                            <div class="customizations">
                                <ul>
                                    {% for customization in item.customizations %}
                                    <li>{{ customization.name }} (+RM {{ customization.additional_price|floatformat:2 }})</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <p class="text-muted">No items in your order.</p>
                {% endif %}
            </div>
            <br>
            
            <a href="{% url 'about' %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i>&nbsp;Go to the homepage</a> &nbsp;
            <a href="{% url 'order_history' %}" class="btn btn-info">Track Your Food&nbsp;<i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<style>
.ordered-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.quantity {
    font-weight: bold;
    width: 100px;
    text-align: left;
}

.product-title {
    flex-grow: 1;
    margin-left: 10px;
}

.customizations {
    margin-left: 10px;
}

.customizations ul {
    list-style-type: none;
    padding-left: 0;
    margin: 5px 0 0 0;
}

.customizations li {
    font-size: 14px;
    color: #5c2d0c;
    margin: 2px 0;
}

.product-price {
    text-align: right;
}

.ordered-items {
    margin-top: 20px;
}

.text-muted {
    font-style: italic;
}
</style>
{% endblock content %}
