{% extends 'customer/base.html' %}
{% block content %}

<!-- <div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order Submitted!</h1>
            <p>Thank you for your order! Your food is being made and will be served soon!</p>
            <a href="{% url 'index' %}">Go to the homepage</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12">
            <h2>Items Ordered</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items_with_quantity %}
                    <tr>
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>RM{{ item.total_price }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>                                
            </table>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12">
            <h2>Total Price</h2>
            <p>RM{{ total_price }}</p>
        </div>
    </div>
</div> -->
<div class="container my-5">
    <h4>Order History</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for op in order_placed %}
            <tr>
                <td>{{ op.ordered_date|date:"Y-m-d" }}</td>
                <td>{{ op.product.title }}</td>
                <td>{{ op.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .container.my-5 {
        margin-top: 20px; /* Adjust as needed */
    }

    /* Additional styling for table if needed */
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>

{% endblock content %}
