{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
          <h1>Sign In</h1>
      </div>
  </div>
</div>

    <form method="post">
      <fieldset>
        <label for="email">Enter Your Email: <input id="email" name="email" type="email" required /></label>
        <label for="new-password">Enter Your Password: <input id="new-password" name="new-password" type="password" pattern="[a-z0-5]{8,}" required /></label>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
  </body>
  {% endblock content %}