{% extends 'restaurant/base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Orders</h1>
            <table class="table table-hover table-striped spaced-table">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Name</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Food Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{% if order.method == 'Pick Up' %}
                                {{ order.method }} : {{order.order_id}}
                            {% else %}
                                {{ order.method }} : Table {{ order.table_number }}
                            {% endif %}</td>
                        <!-- <td>{{ order.table_number }}</td> -->
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.product.title }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.food_status }}</td>
                        <td>
                            <!-- <form method="POST" action="{% url 'update_food_status' order.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select id="food_status" name="food_status" class="form-control">
                                        {% for status, label in order.FOOD_STATUS_CHOICES %}
                                        <option value="{{ status }}" {% if order.food_status == status %}selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3 btn-sm" id="status">Update Status</button>
                            </form> -->
                            <form method="POST" action="{% url 'update_food_status' order.id %}" id="statusForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    
                                    <button type="submit" name="food_status" value="Preparing" class="btn btn-warning mt-3 btn-sm" id="preparingButton" {% if order.food_status == 'Served' %}disabled{% endif %}>Preparing</button>
                                    
                                    <button type="submit" name="food_status" value="Served" class="btn btn-success mt-3 btn-sm" id="servedButton">Served</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h3>Staff page</h3>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const preparingButton = document.getElementById('preparingButton');
        const servedButton = document.getElementById('servedButton');

        if (preparingButton) {
            preparingButton.addEventListener('click', function(event) {
                if (preparingButton.classList.contains('btn-secondary')) {
                    event.preventDefault();
                } else {
                    this.classList.remove('btn-warning');
                    this.classList.add('btn-secondary');
                    servedButton.classList.remove('btn-secondary');
                    servedButton.classList.add('btn-success');
                    // setTimeout(() => this.remove(), 0);  
                }
            });
        }

        servedButton.addEventListener('click', function(event) {
            if (servedButton.classList.contains('btn-secondary')) {
                event.preventDefault();
            } else {
                this.classList.remove('btn-success');
                this.classList.add('btn-secondary');
                if (preparingButton) {
                    preparingButton.classList.remove('btn-warning');
                    preparingButton.classList.add('btn-secondary');
                    preparingButton.disabled = true;
                    
                }
            }
        });
    });
</script>

{% endblock content %}