{% extends 'restaurant/base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Orders</h1>
            <table class="table table-hover table-striped spaced-table">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Name</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Food Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.product.title }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.food_status }}</td>
                        <td>
                            <form method="POST" action="{% url 'update_food_status' order.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select id="food_status" name="food_status" class="form-control">
                                        {% for status, label in order.FOOD_STATUS_CHOICES %}
                                        <option value="{{ status }}" {% if order.food_status == status %}selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3 btn-sm" id="status">Update Status</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h3>Staff page</h3>
</div>
{% endif %}

<style>
    .container.my-5 {
        background-color: #f4ece7;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        color: #5c2d0c; 
        margin-bottom: 30px;
    }

    .spaced-table {
        background-color: #fff;
    }

    .spaced-table thead th {
        background-color: #292828; 
        color: #fff;
        padding: 15px;
        text-align: center;
        font-weight: bold;
    }

    .spaced-table tbody tr td {
        padding: 15px;
        text-align: center;
        vertical-align: middle;
    }

    .spaced-table tbody tr td .form-group {
        margin-bottom: 0;
    }

    .spaced-table tbody tr td .form-control {
        width: 100%;
    }

    .table-hover tbody tr:hover td {
        background-color: #fdf4e4; /* Hover color for all cells */
    }
</style>

{% endblock content %}
