{% extends 'restaurant/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="card col-md-5 mr-3">
            <h4 class="text-center pt-2">Today's Total Reservation</h4>
            <h1 class="text-center" style="color: green;">{{ total_reservations }}</h1>
        </div>

       
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 mt-5">
            <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Date</th>
                            <th scope="col">Person</th>
                            <th scope="col">Status</th><div class="col-md-6 col-sm-12">
                                <!-- <h5>Status</h5>
                                {% if order.is_served %}
                                    <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Order has been served</span></p>
                                {% else %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-success">Mark as served</button>
                                    </form>
                                {% endif %} -->
                                
                        </tr>
                    </thead>
                    
                    <!-- <tbody>
                       {% for order in orders %}
                        <tr>
                            <td>{{ order.pk }}</td>
                            <td>{{ order.price }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.phone }}</td>
                            {% for item in order.items.all %}
                                <td>{{ item.name }}</td>
                            {% endfor %}
                            <td><a href="{% url 'order_details' order.pk %}"><i class="far fa-edit"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody> -->
            </table>
        </div>
    </div>
</div>


{% endblock content %}